

{% if publications %}












 <!-- ---------------------- Debut boucle Liste des publications------------------------------- -->




 {% for publication in publications %}
            




 <div class="mb-2">




   <div class="">

     <div class="card" style="max-width: 45 rem; ">
     <div class="card-body">
     <!-- Data -->
     <div class="d-flex mb-3 justify-content-between">
      <div style="display: flex; align-items: center;">
         <a href="/akue/profil">
          {% if publication.author.userprofile.image %}
          {% load static %}
            <img src="{{ publication.author.userprofile.image.url }}" alt="Photo de profil de {{ user_profile.user.username }}" class="border rounded-circle me-2" style="height: 40px" />
          {% else %}
          <img src="{% static 'akue/img/photo_de_profile/photo_defaut.webp' %}" alt="Photo de profil par défaut" class="border rounded-circle me-2" style="height: 40px" />
          {% endif %}
         </a>
         <div>
         <a href="" class="text-dark mb-0">
            <div><strong>{{ publication.author }} </strong><small> a partager cette {{table_nameS}} </small></div>
         </a>
         <a href="" class="text-muted d-block" style="margin-top: -6px">
             <small>{{ publication.temps_publication }}</small>
         </a>
         </div>
     </div>

     <!---------------------------------------------------------------------------------------------3 points pour menu ----------------------------------------------------------------------------------------------->
     <div class="">
      <a href="#" data-toggle="dropdown" class="nav-item nav-link  user-action rounded">
        <img class="ml-1 mr-1" src="{% static 'akue/img/icon/3points.png' %}" alt="" class="border-0 me-2" style="height: 20px" />
      </a>  
      <div class="dropdown-menu">
        <a href="" class="dropdown-item nav-item"><i class="bi bi-pencil-fill"></i><span>Modifier</span></a>
        <a href="" class="dropdown-item nav-item"><i class="bi bi-trash-fill"></i><span>Supprimer</span></a>
        <a href="" class="dropdown-item nav-item"><i class="bi bi-gear-fill"></i><span>Paramètre</span></a>
      </div>
    </div>
    <!---------------------------------------------------------------------------------------------3 points pour menu ----------------------------------------------------------------------------------------------->
  </div>
  
     <!-- Titre de la publication-->

     <div>

        <h2>{{ publication.title }}</h2>


     </div>


     <!-- Description -->
     <div>
         <p>
           {{ publication.content }}
       </p>
     </div>
   </div>
   <!-- Media -->
   <div class="bg-image hover-overlay ripple rounded-0" data-mdb-ripple-color="light">
    {% if publication.image %}
    {% load static %}
    <img src="{{ publication.image.url }}" alt="{{ publication.title }}" class="w-100"  />
    {% else %}
    {% endif %}
     <a href="/akue/myProfil">
       <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
     </a>
   </div>
   <!-- Media -->
   <!-- Interactions -->
   <div class="card-body shadow-lg">
     <!-- Reactions -->
     <div class="d-flex justify-content-between mb-3">
       {% if publication.likepublication_set.exists %}
       <div>
         <a href="#" class="text-muted">{{ publication.likepublicatione_set.count }}<span class="ms-2"><i class="bi bi-heart-fill" style="color:red;"></i></span></a>
       </div>
       {% else %}
       <div>
       
       </div>


      {% endif %}

      

        <div>
          <p class="text-muted" data-mdb-ripple-color="dark" data-toggle="collapse" data-target="#mondiv1-{{ publication.id }}"> 
            {% if publication.commentairespublication.exists %}
              {{ publication.commentairespublication.count }}
            {% endif %}
            <span class="ms-2">
              <i class="bi bi-chat-dots-fill" ></i>
            </span>
        </p>
       </div>
     </div>
     <!-- Reactions -->

     <!-- Buttons -->
<!-------------------------------------------------------------------ligne separateur haute------------------------------------------------------------------------------->

<div class="border-bottom mb-4" > </div>

<!-------------------------------------------------------------------ligne separateur haute------------------------------------------------------------------------------->

     
     
     <div class="d-flex mb-3 justify-content-between text-center  mb-4">


       <form method="POST" action="{% url 'akue:like_publication' publication_id=publication.id  %}"> 
         {% csrf_token %}
         {% if publication.likepublication_set.exists %}
           <button type="submit" class="btn btn-sm border-0 me-2 nav-link" data-mdb-ripple-color="dark" >
             <i class="bi bi-hand-thumbs-up-fill" style="color:#1B66F5;"></i> <span class="ms-2">J'aime</span>
           </button>
         {% else %}
           <button type="submit" class="btn btn-sm border-0 me-2 nav-link" data-mdb-ripple-color="dark">
             <i class="bi bi-hand-thumbs-up-fill"></i> <span class="ms-2">J'aime</span>
           </button>
         {% endif %}
       </form>

       <button type="button" class="btn btn-sm border-0 me-2 nav-link" data-mdb-ripple-color="dark" data-toggle="collapse" data-target="#mondiv-{{ publication.id }}">
         <i class="bi bi-chat-dots-fill"></i> <span class="ms-2">Commenter</span>
       </button>
       <button type="button" class="btn btn-sm border-0 me-2 nav-link" data-mdb-ripple-color="dark">
         <i class="bi bi-share-fill"></i> <span class="ms-2">Partager</span>
       </button>
     </div>
     
     
     
     
     
     
     
     <!-- Buttons -->

     <!-- Comments -->

     <!-- Input -->

     <div id="mondiv-{{ publication.id }}" class="collapse">

     <form method="post" action="{% url 'akue:creer_commentairepublication' publication_id=publication.id  %}"> 
       {% csrf_token %}
     <div  class="d-flex mb-3">
       <a href="/akue/myProfil">
        {% if user_profile.image %}
          {% load static %}
            <img src="{{ user_profile.image.url }}" alt="Photo de profil de " class="border rounded-circle me-2" style="height: 40px" />
        {% else %}
          <img src="{% static 'akue/img/photo_de_profile/photo_defaut.webp' %}" alt="Photo de profil par défaut" class="border rounded-circle me-2" style="height: 40px" />
        {% endif %}
       </a>



       <div class="form-outline w-100 ">
         <!-- <textarea class="form-control" id="contenu" name="contenu" rows="2"></textarea> -->

         <input class="border border-info form-control" type="text" id="contenu" name="contenu" required="required" placeholder="Commenter ?">
         
         
         <input type="submit" value="Publier" class="btn btn-outline-info ms-1 rounded mt-3 mb-3">
       </div>


     </div>

     </form>

     </div>


   
     <!-- Input -->

     <!-- Answers -->

    <!-------------------------------------------------------------------ligne separateur basse ------------------------------------------------------------------------------->
    <div class="border-top mb-3 mt-0 " > </div>


    <!-------------------------------------------------------------------ligne separateur basse------------------------------------------------------------------------------->



     <!-- debut boucle commentaire -->


     {% for commentairepublication in commentairespublication %}
       {% if commentairepublication.publication == publication %}


       

       
         
       
     

     <!-- Single answer -->
     <div id="mondiv1-{{ publication.id }}" class="collapse">
     <div class="d-flex mb-3">
       <a href="/akue/profil">
        {% if commentairepublication.auteur.userprofile.image %}
        {% load static %}
          <img src="{{ commentairepublication.auteur.userprofile.image.url }}" alt="Photo de profil de {{ user_profile.user.username }}" class="border rounded-circle me-2" style="height: 40px" />
        {% else %}
        <img src="{% static 'akue/img/photo_de_profile/photo_defaut.webp' %}" alt="Photo de profil par défaut" class="border rounded-circle me-2" style="height: 40px" />
        {% endif %}
       </a>
       <div>
         <div class="bg-light rounded-3 px-3 py-1">
           <a href="" class="text-dark mb-0">
             <strong>{{ commentairepublication.auteur }} </strong>
           </a>
           <p class="text-muted d-block">
             <small>{{ commentairepublication.contenu }}</small>
           </p>
         </div>
        </div>

       <div class="d-flex justify-content-between mb-3">

           <form method="POST" action="{% url 'akue:like_commentairepublication' commentairepublication.id %}"> 
             {% csrf_token %}
             {% if commentairepublication.like_commentairepublication_set.exists %}
               <button type="submit" class="btn btn-sm border-0 me-2" data-mdb-ripple-color="dark" >
                 <span class="ms-2" style="color:#1B66F5;"><strong>J'aime</strong></span>
               </button>
             {% else %}
               <button type="submit" class="btn btn-sm border-0 me-2" data-mdb-ripple-color="dark">
                 </i> <span class="ms-2"><strong>J'aime</strong></span>
               </button>
             {% endif %}
           </form>
         
           {% if commentairepublication.like_commentairepublication_set.exists %}
             <div>
               <p class="text-muted ">{{ commentairepublication.like_commentairepublicationeset.count }}<span class="ms-2"><i class="bi bi-heart-fill" style="color:red;"></i></span></p>
             </div>
           {% endif %}


       </div>







       </div>
     </div>

     {% endif %}




     {% endfor %}


     <!-- finboucle commentaire -->





     <!-- Single answer -->
     







     

     <!-- Answers -->

     <!-- Comments -->
     </div>
     <!-- Interactions -->

   </div>








 </div>

</div>

{% endfor %}

<!-- ---------------------- fin boucle Liste des publications------------------------------- -->
























{% else %}


<!---------------------------------------------------------------Pas de videos------------------------------------------------------->




<div class=" justify-content-center" style="overflow:scroll; height:600px;" >
  <div class="card mb-2 shadow-lg">
    <div class="card-body text-center">



      <div>

        <h2> Désolé, personne n'a partager de publication pour l'instant</h2>


     </div>
    

    </div>
  </div>
</div>




<!---------------------------------------------------------------Pas de videos------------------------------------------------------->




{% endif %}