

<!-- ======= List IA Section ======= -->


    
                
                    <div class="card-body">
                        <h3 class="mb-4"><span class="font-italic me-1 align-self-center" style="color: #7746ea;">Quelques fonctionnalités de notre IA</span></h3>
                        <div>
                            <form method="POST">
                                {% csrf_token %}
                                <a href="/akue/chatBot" class="btn btn-outline-info mb-3 ms-1" style="color: #7746ea;">Chat Bot</a>
                                <a href="/akue/devinettes"  class="btn btn-outline-info mb-3 ms-1" style="color: #7746ea;">devinettes</a>
                                <a href="/akue/conseil" class="btn btn-outline-info mb-3 ms-1" style="color: #7746ea;">conseil</a>
                                <a href="/akue/citations"  class="btn btn-outline-info mb-3 ms-1" style="color: #7746ea;">citations</a>
                                <a href="/akue/blagues"  class="btn btn-outline-info mb-3 ms-1" style="color: #7746ea;">blagues</a>
                            </form>
                            
                        </div>
                    </div>
                
    




